{% extends 'base.html' %}
{% block title %}Términos y Condiciones - Ahorrito Gaming{% endblock %}

{% block content %}
<div class="container my-5">
    <h1 class="mb-4">Términos y Condiciones</h1>
    <div class="bg-dark-card p-4 rounded mb-4">
        <p class="text-muted">Última actualización: 20 de Junio, 2025</p>
        <div class="mb-4">
            <h4>1. Introducción</h4>
            <p>Bienvenido a Ahorrito Gaming. Estos Términos y Condiciones rigen tu uso de nuestro sitio web y los servicios que ofrecemos. Al acceder a nuestro sitio o utilizar nuestros servicios, aceptas estos términos en su totalidad.</p>
        </div>
        <div class="mb-4">
            <h4>2. Cuenta de usuario</h4>
            <p>Para realizar compras en nuestro sitio web, deberás crear una cuenta de usuario. Eres responsable de mantener la confidencialidad de tu contraseña y de todas las actividades que ocurran bajo tu cuenta.</p>
        </div>
    </div>
</div>
{% endblock %}